.shop{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.search{
    background-color: black;
    padding: 10px;
}
.search input{
    width: 800px;
    padding: 5px;
    border-radius: 5px;

}
.search button{
    background-color: sandybrown;
    font-weight: 700;
   border-radius: 5px;
   margin-left: 10px;
   padding: 8px;
   border: 1px solid gray;
   cursor: pointer;
   color: white;
}